Before we start, run the code cell below for a nicer layout.

In [1]:
%%html
<style>
h1 { margin-top: 3em !important; }
h2 { margin-top: 2em !important; }
#notebook-container { 
    width: 50% !important; 
    min-width: 800px;
}
</style>

<h1>Pandas</h1>

Today we will learn about `pandas`, a Python library to load and manipulate datasets. We will begin by <i>importing</i> the pandas
library. Importing means that the Python interpreter loads all the code associated with that library into memory and lets us use the methods, data structures, and variables contained in it. The syntax is as follows

In [2]:
import pandas as pd

The above imports pandas and assigns the name `pd` to it. If we leave out the `as pd`, we would access the library and all its methods by the name `pandas`, but since we will use it a lot it makes our lives easier to assign a shorthand.

Pandas uses two data structures to represent data: `Series` and
`DataFrame`. Think of dataframes as a table (like a spreadsheet) and
series as columns or rows. Let us load a portion of a dataset from a &lsquo;comma-separated value&rsquo; (csv) file:

In [3]:
books_small = pd.read_csv("02-resources/books.csv", index_col=0, nrows=20)
books_small.head(50) # Display first five entries

,author,title,genre,isbn,old,young
0,Aaron Stephens,The secret of the azure orcs,fantasy,0-560-22625-X,35,40
1,Laura Lambert,War of the crimson comets,sci-fi,0-477-61096-X,6,43
2,Jessica Johnson,The amazing Bug-Man,comics,1-82415-269-8,5,88
3,Keith Jones,The poltergeist will come back,horror,0-212-12934-1,26,22
4,Megan Jones,October roses,romance,1-397-92386-5,62,51
5,Ryan Smith,Puerto Rico after 1660,history,0-16-028219-5,86,8
6,Chad Avila,Clash of the flaming angels,sci-fi,0-221-35354-2,1,42
7,Michael Green,The Ayers mystery,sci-fi,1-338-55554-5,12,51
8,Linda Olson,The case of the deadly corpses,horror,1-4456-8709-7,22,24
9,Deborah Holmes,The Tommyknocker will rise,horror,1-77314-904-0,15,23
10,Rebecca Strickland,The mystery of the yellow corpses,horror,0-571-35201-4,19,28
11,Chelsea Rogers,The yellow king's agenda,horror,1-61728-059-3,23,7
12,Kimberly Harrison,The adventures of sherrif Katelyn,comics,0-7622-6531-0,9,75
13,Jonathan Nichols,Before 1510,history,1-63616-149-9,98,29
14,Tonya Tanner,Amber Townsend: Complete works,history,1-4288-4072-9,94,16
15,Alexander Hall,The latest adventures of cowboy James,comics,1-78847-115-6,14,78
16,Daniel Johnson,Azrael's method,horror,0-14-607113-1,21,20
17,Jason Gordon,The adventures of astronaut Jamie,comics,1-319-19990-9,7,76
18,Tina Berry,Coup on Alpha-6,sci-fi,1-4841-5956-X,10,45
19,Dawn Reed,The conflict of orcs,fantasy,1-00-958818-4,28,15

As you can see, jupyter displays pandas dataframes as nice tables.
The numbers in the leftmost column are the <b>index</b> of the table. The index can be a series of number (like here) but it can also contain strings. We can retrieve the index from a dataframe as follows:

In [4]:
books_small.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

This data structure acts pretty much like a python list: we can iterate over it using a `for` loop and access individual items by their position (which is more interesting when the index does not contain sequential numbers).

In [5]:
print("Fifth element is not:", books_small.index[19])
for x in books_small.index[0:5]: # Slices also work!
    print(x)

Fifth element is not: 19
0
1
2
3
4

To see how big the dataset is, we can simply use the trusty `len` function:

In [6]:
len(books_small)

20

Alternatively, we can look at the end of the dataframe to see how many rows it has:

In [7]:
books_small.tail(5) # Display last 5 rows of dataframe.

,author,title,genre,isbn,old,young
15,Alexander Hall,The latest adventures of cowboy James,comics,1-78847-115-6,14,78
16,Daniel Johnson,Azrael's method,horror,0-14-607113-1,21,20
17,Jason Gordon,The adventures of astronaut Jamie,comics,1-319-19990-9,7,76
18,Tina Berry,Coup on Alpha-6,sci-fi,1-4841-5956-X,10,45
19,Dawn Reed,The conflict of orcs,fantasy,1-00-958818-4,28,15

<h2>Column names</h2>

We can read of the column names in the output above, but of course sometimes we need those names inside our code. The names are store din the member `.columns` of a dataframe:

In [8]:
books_small.columns

Index(['author', 'title', 'genre', 'isbn', 'old', 'young'], dtype='object')

The pandas `Index` objects works pretty much like a Python list: we can access individual members by position, use slice notation, and iterate over them using `for` loops:

In [9]:
display(books_small.columns[2])
display(books_small.columns[2:5])

for name in books_small.columns:
    print(name)

'genre'

Index(['genre', 'isbn', 'old'], dtype='object')

author
title
genre
isbn
old
young

<h2>Selecting columns</h2>

We can select individual columns using the respective column names:

In [10]:
books_small['author'] # Try the other columns 'title', 'genre', etc.

0         Aaron Stephens
1          Laura Lambert
2        Jessica Johnson
3            Keith Jones
4            Megan Jones
5             Ryan Smith
6             Chad Avila
7          Michael Green
8            Linda Olson
9         Deborah Holmes
10    Rebecca Strickland
11        Chelsea Rogers
12     Kimberly Harrison
13      Jonathan Nichols
14          Tonya Tanner
15        Alexander Hall
16        Daniel Johnson
17          Jason Gordon
18            Tina Berry
19             Dawn Reed
Name: author, dtype: object

These columns are `Series` objects and as you can see in the output above, they retain the index from the dataframe. This index is again accessible as the 
member `.index`.

In [11]:
display(type(books_small['author']))
display(books_small['author'].index)

pandas.core.series.Series

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

`Series` objects are a lot like Python lists, but they can have an index that is not simply a series of numbers like in our case. The following are some of the possible operations on a `Series` object:

In [12]:
col = books_small['author']
print("Second element is", col[1])
print("")
print("Elements 2 to 4 are")
print(col[2:6]) # This is a again a series!
print("")

for s in col: # We can iterate over the values as usual
    print(s)
print("")
    
for i in col.index: # We can also iterate over the index
    print(i)

Second element is Laura Lambert

Elements 2 to 4 are
2    Jessica Johnson
3        Keith Jones
4        Megan Jones
5         Ryan Smith
Name: author, dtype: object

Aaron Stephens
Laura Lambert
Jessica Johnson
Keith Jones
Megan Jones
Ryan Smith
Chad Avila
Michael Green
Linda Olson
Deborah Holmes
Rebecca Strickland
Chelsea Rogers
Kimberly Harrison
Jonathan Nichols
Tonya Tanner
Alexander Hall
Daniel Johnson
Jason Gordon
Tina Berry
Dawn Reed

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

We can also select a subset of columns of a dataframe. The result is again a dataframe:

In [13]:
books_subset = books_small[['author', 'genre', 'isbn']]
display(books_subset)

                author    genre           isbn
0       Aaron Stephens  fantasy  0-560-22625-X
1        Laura Lambert   sci-fi  0-477-61096-X
2      Jessica Johnson   comics  1-82415-269-8
3          Keith Jones   horror  0-212-12934-1
4          Megan Jones  romance  1-397-92386-5
5           Ryan Smith  history  0-16-028219-5
6           Chad Avila   sci-fi  0-221-35354-2
7        Michael Green   sci-fi  1-338-55554-5
8          Linda Olson   horror  1-4456-8709-7
9       Deborah Holmes   horror  1-77314-904-0
10  Rebecca Strickland   horror  0-571-35201-4
11      Chelsea Rogers   horror  1-61728-059-3
12   Kimberly Harrison   comics  0-7622-6531-0
13    Jonathan Nichols  history  1-63616-149-9
14        Tonya Tanner  history  1-4288-4072-9
15      Alexander Hall   comics  1-78847-115-6
16      Daniel Johnson   horror  0-14-607113-1
17        Jason Gordon   comics  1-319-19990-9
18          Tina Berry   sci-fi  1-4841-5956-X
19           Dawn Reed  fantasy  1-00-958818-4

<h2>Selecting rows</h2>

Rows of a dataframe are selected using the <i>index</i>. Index queries are done via the `.loc` as follows:

In [14]:
books_small.loc[2] # Select the second book

author        Jessica Johnson
title     The amazing Bug-Man
genre                  comics
isbn            1-82415-269-8
old                         5
young                      88
Name: 2, dtype: object

The resulting object is a `Series`. Therefore we can treat it mostly like a Python list, but it allows a few additional operations:

In [15]:
row = books_small.loc[2]
print("First element is", row[0])
print("")
print("Elements 2 to 4 are")
print(row[2:5]) # This is a again a series!
print("")

for s in row: # We can iterate over the values as usual
    print(s)
print("")
    
for i in row.index: # We can also iterate over the index
    print(i)

First element is Jessica Johnson

Elements 2 to 4 are
genre           comics
isbn     1-82415-269-8
old                  5
Name: 2, dtype: object

Jessica Johnson
The amazing Bug-Man
comics
1-82415-269-8
5
88

author
title
genre
isbn
old
young

We can also select index range via `.loc`, this returns a dataframe object:

In [16]:
books_small.loc[2:7]

,author,title,genre,isbn,old,young
2,Jessica Johnson,The amazing Bug-Man,comics,1-82415-269-8,5,88
3,Keith Jones,The poltergeist will come back,horror,0-212-12934-1,26,22
4,Megan Jones,October roses,romance,1-397-92386-5,62,51
5,Ryan Smith,Puerto Rico after 1660,history,0-16-028219-5,86,8
6,Chad Avila,Clash of the flaming angels,sci-fi,0-221-35354-2,1,42
7,Michael Green,The Ayers mystery,sci-fi,1-338-55554-5,12,51

<h2>Selecting cells</h2>

Finally, we can read the value from a single cell of a dataframe by combining the above queries. If we want to know who the author of the 15th book is, we can first select the 15th row using `.loc` and then query the author using the `author` key:

In [17]:
books_small.loc[15]['author']

'Alexander Hall'

Alternatively, we can first retrieve the `author` column from the dataframe and then access the 15th member of that series. Because the result is a series and not a dataframe, we can drop the `.loc` if we want to.

In [18]:
# Either of these work:
display(books_small['author'].loc[15])
display(books_small['author'][15])

'Alexander Hall'

'Alexander Hall'

<h2>Iterating</h2>

We already saw how to iterate over the column name of a dataframe and how to iterate over individual rows and columns. We can also iterate over the rows and columns of a dataframe. The following method `.iterrows()` returns a list of pairs containing the index of the row and the row itself:

In [19]:
for i, row in books_small.iterrows(): # Note that .itterows is a method!
    # `i` is the index of the row, `row` the content
    display(i, row)

0

author                  Aaron Stephens
title     The secret of the azure orcs
genre                          fantasy
isbn                     0-560-22625-X
old                                 35
young                               40
Name: 0, dtype: object

1

author                Laura Lambert
title     War of the crimson comets
genre                        sci-fi
isbn                  0-477-61096-X
old                               6
young                            43
Name: 1, dtype: object

2

author        Jessica Johnson
title     The amazing Bug-Man
genre                  comics
isbn            1-82415-269-8
old                         5
young                      88
Name: 2, dtype: object

3

author                       Keith Jones
title     The poltergeist will come back
genre                             horror
isbn                       0-212-12934-1
old                                   26
young                                 22
Name: 3, dtype: object

4

author      Megan Jones
title     October roses
genre           romance
isbn      1-397-92386-5
old                  62
young                51
Name: 4, dtype: object

5

author                Ryan Smith
title     Puerto Rico after 1660
genre                    history
isbn               0-16-028219-5
old                           86
young                          8
Name: 5, dtype: object

6

author                     Chad Avila
title     Clash of the flaming angels
genre                          sci-fi
isbn                    0-221-35354-2
old                                 1
young                              42
Name: 6, dtype: object

7

author        Michael Green
title     The Ayers mystery
genre                sci-fi
isbn          1-338-55554-5
old                      12
young                    51
Name: 7, dtype: object

8

author                       Linda Olson
title     The case of the deadly corpses
genre                             horror
isbn                       1-4456-8709-7
old                                   22
young                                 24
Name: 8, dtype: object

9

author                Deborah Holmes
title     The Tommyknocker will rise
genre                         horror
isbn                   1-77314-904-0
old                               15
young                             23
Name: 9, dtype: object

10

author                   Rebecca Strickland
title     The mystery of the yellow corpses
genre                                horror
isbn                          0-571-35201-4
old                                      19
young                                    28
Name: 10, dtype: object

11

author              Chelsea Rogers
title     The yellow king's agenda
genre                       horror
isbn                 1-61728-059-3
old                             23
young                            7
Name: 11, dtype: object

12

author                    Kimberly Harrison
title     The adventures of sherrif Katelyn
genre                                comics
isbn                          0-7622-6531-0
old                                       9
young                                    75
Name: 12, dtype: object

13

author    Jonathan Nichols
title          Before 1510
genre              history
isbn         1-63616-149-9
old                     98
young                   29
Name: 13, dtype: object

14

author                      Tonya Tanner
title     Amber Townsend: Complete works
genre                            history
isbn                       1-4288-4072-9
old                                   94
young                                 16
Name: 14, dtype: object

15

author                           Alexander Hall
title     The latest adventures of cowboy James
genre                                    comics
isbn                              1-78847-115-6
old                                          14
young                                        78
Name: 15, dtype: object

16

author     Daniel Johnson
title     Azrael's method
genre              horror
isbn        0-14-607113-1
old                    21
young                  20
Name: 16, dtype: object

17

author                         Jason Gordon
title     The adventures of astronaut Jamie
genre                                comics
isbn                          1-319-19990-9
old                                       7
young                                    76
Name: 17, dtype: object

18

author         Tina Berry
title     Coup on Alpha-6
genre              sci-fi
isbn        1-4841-5956-X
old                    10
young                  45
Name: 18, dtype: object

19

author               Dawn Reed
title     The conflict of orcs
genre                  fantasy
isbn             1-00-958818-4
old                         28
young                       15
Name: 19, dtype: object

Iterating over columns is done by iterating over the column <i>names</i> and then accessing the column using the usual index notation:

In [20]:
for col in books_small:
    display(books_small[col])

0         Aaron Stephens
1          Laura Lambert
2        Jessica Johnson
3            Keith Jones
4            Megan Jones
5             Ryan Smith
6             Chad Avila
7          Michael Green
8            Linda Olson
9         Deborah Holmes
10    Rebecca Strickland
11        Chelsea Rogers
12     Kimberly Harrison
13      Jonathan Nichols
14          Tonya Tanner
15        Alexander Hall
16        Daniel Johnson
17          Jason Gordon
18            Tina Berry
19             Dawn Reed
Name: author, dtype: object

0              The secret of the azure orcs
1                 War of the crimson comets
2                       The amazing Bug-Man
3            The poltergeist will come back
4                             October roses
5                    Puerto Rico after 1660
6               Clash of the flaming angels
7                         The Ayers mystery
8            The case of the deadly corpses
9                The Tommyknocker will rise
10        The mystery of the yellow corpses
11                 The yellow king's agenda
12        The adventures of sherrif Katelyn
13                              Before 1510
14           Amber Townsend: Complete works
15    The latest adventures of cowboy James
16                          Azrael's method
17        The adventures of astronaut Jamie
18                          Coup on Alpha-6
19                     The conflict of orcs
Name: title, dtype: object

0     fantasy
1      sci-fi
2      comics
3      horror
4     romance
5     history
6      sci-fi
7      sci-fi
8      horror
9      horror
10     horror
11     horror
12     comics
13    history
14    history
15     comics
16     horror
17     comics
18     sci-fi
19    fantasy
Name: genre, dtype: object

0     0-560-22625-X
1     0-477-61096-X
2     1-82415-269-8
3     0-212-12934-1
4     1-397-92386-5
5     0-16-028219-5
6     0-221-35354-2
7     1-338-55554-5
8     1-4456-8709-7
9     1-77314-904-0
10    0-571-35201-4
11    1-61728-059-3
12    0-7622-6531-0
13    1-63616-149-9
14    1-4288-4072-9
15    1-78847-115-6
16    0-14-607113-1
17    1-319-19990-9
18    1-4841-5956-X
19    1-00-958818-4
Name: isbn, dtype: object

0     35
1      6
2      5
3     26
4     62
5     86
6      1
7     12
8     22
9     15
10    19
11    23
12     9
13    98
14    94
15    14
16    21
17     7
18    10
19    28
Name: old, dtype: int64

0     40
1     43
2     88
3     22
4     51
5      8
6     42
7     51
8     24
9     23
10    28
11     7
12    75
13    29
14    16
15    78
16    20
17    76
18    45
19    15
Name: young, dtype: int64

<h1>Tasks</h1>

Today's task will be to learn how to do various operations on pandas dataframes.
The tasks have to be completed in order because they later ones depend on the earlier ones! 

<div style="font-size: 1.5em; text-align: center; margin-top: 1em">
    Work in groups of three to complete the following tasks!
</div>

I suggest that your first <i>discuss</i> the task until you agree about what needs to be done and then work together on a single computer to solve it.

<h2>Task 1</h2>

> Load the .csv file `02-resources/books.csv` using pandas `.read_csv` method. You can adapt the code from the cell above that loads `books_small`.

If you have questions about the various parameters that `.read_csv` accepts, 
<a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv">have a look at the documentation</a>
(Hint: the documentation is very large, search for the keyword you are interested in). You should read up on the argument `index_col`.

In [21]:
books = pd.read_csv("02-resources/books.csv", index_col=0)

In [22]:
# Do not edit this cell. Run it once you finished 
# all TODOs the cell above.
assert type(books) ==  pd.core.frame.DataFrame, "You need to call the function pd.read_csv"
assert len(books) == 400, "Dataframe is incomplete! Did you use nrows?"
assert 'Unnamed: 0' not in set(books.columns), "Make sure to use the argument `index_col`!"
''.join(reversed("!enif s'gnihtyrevE"))

"Everything's fine!"

<h2>Task 2</h2>
Let us now focus on the two ratings columns only.

> Create a new dataframe from `books` called `ratings` that only contains the rows `old` and `young`.

If you complete the task in the following cell, the next cell should output a plot.

In [23]:
ratings = books[['old', 'young']]

In [24]:
# Do not edit this cell. Run it once you finished 
# all TODOs the cell above.
assert type(ratings) ==  pd.core.frame.DataFrame
assert len(ratings) == 400, "Dataframe is too short!"
assert set(['young', 'old']) == set(ratings.columns), "`ratings` has the wrong columns"

import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(5,5))
ax.scatter(ratings['old'], ratings['young'])
ax.set_xlabel("Ratings old")
ax.set_ylabel("Ratings young")

Text(0,0.5,'Ratings young')

<h2>Task 3</h2>

> Compute the minimum, maximum, and average rating for the `old` and `young` column each. There is more than one solution to this problem!

Pandas' `Series` object has a few methods that might be of interest here
(<a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html#pandas.Series.mean">mean()</a>, <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.min.html#pandas.Series.min">min()</a>, <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.max.html#pandas.Series.max">max()</a>) or you could use the 
built-in Python methods <a href="https://docs.python.org/3/library/functions.html#min">min()</a>, <a href="https://docs.python.org/3/library/functions.html#max">max()</a>, and <a href="https://docs.python.org/3/library/functions.html#sum">sum()</a> to compute these values &lsquo;by hand&rsquo;

In [25]:
print("The mean of old and new is ",
      books["old"].mean(), " and ", books["young"].mean(), " respectively")
print("")
print("The min of old and new is ",
      books["old"].min(), " and ", books["young"].min(), " respectively")
print("")
print("The max of old and new is ",
      books["old"].max(), " and ", books["young"].max(), " respectively")
print("")

The mean of old and new is  36.67  and  39.6475  respectively

The min of old and new is  0  and  0  respectively

The max of old and new is  99  and  88  respectively

<h2>Task 4</h2>

We learned about <i>distance functions</i> or <i>metrics</i> today. In class, we use the distance in the Euclidean plane (the Euclidean plane is the mathematical term for a flat piece of paper and where we do our usual geometry).

For two points $P_1 = (x_1, y_1)$ and $P_2 = (x_2,y_2)$ in the plane, their <i>Euclidean distance</i> is given by 
$$
  d(P_1, P_2) = \sqrt{(x_2-x_1)^2 + (y_2-y_1)^2}
$$

> Complete the following function so that it compute the Euclidean distance between to ratings `ratingA` and `ratingB`. The ratings are supposed to be tuples where the first entry is the `old` rating and the second the `young` rating.

Hints: to compute the square root, use the method `math.sqrt`. You will need to import the package `math` for that. You can compute the square of a variable `x` in
Python using the notation `x**2`.

In [26]:
print(ratings.iloc[10])

old      19
young    28
Name: 10, dtype: int64

In [27]:
import math
def rating_dist(ratingA, ratingB):
    #Breaking this down to individual elements
    left = ((ratingB[0] - ratingA[0])**2)
    right = ((ratingB[1] - ratingA[1])**2)
    middle = left + right
    return math.sqrt(middle)
    # TODO: compute Euclidean distance between ratingA and ratingB
    # and return it. The ratings should be tuples of two values.

In [28]:
assert rating_dist(ratings.iloc[10],ratings.iloc[10]) == 0.0, "Distance computation is incorrect"
assert (rating_dist(ratings.iloc[0],ratings.iloc[1])-29.1547)**2 < 0.01, "Distance computation is incorrect"
''.join(reversed("!enif s'gnihtyrevE"))

"Everything's fine!"

<h2>Task 5</h2>
Now that we can compute distances between rows of the ratings table, we can ask some interesting questions: for example, for any book in our dataset we can compute the &ldquo;closest&rdquo; book rating-wise. Let us consider book #114: Joanna Payne's classic &ldquo;The amazing Super-Girl&rdquo;:

In [29]:
books.iloc[114]

author              Joanna Payne
title     The amazing Super-Girl
genre                     comics
isbn               0-360-97867-3
old                            6
young                         67
Name: 114, dtype: object

It has an average rating of 6 among the older readers but an impressive 67 among younger readers. Your task is to find the then books that have the smallest distance to book #114 according to the `rating_dist` you implemented above.

> Output the *titles* of the 10 books that are closest to book #114 according to `rating_dist`. 

Hint 1: You should probably first determine the *indices* of the ten closest books.
`iterrows` is helpful to go over all rows of the rating table, remember that it give you not only the rows but also their indices (check the cell above that introduces `itterrows`).

Hint 2: Remember the method `list.sort()`? This method also works on lists of <i>tuples</i>: it sorts by the first entry of each tuple and in case of ties by the second entry (and so on). For example:
```
    l = [(2,999),(1,0),(2,1000),(3,500)]
    l.sort()
    print(l)
```
The above will output `[(1, 0), (2, 999), (2, 1000), (3, 500)]`.

In [30]:
def nearest(bkind,hmany):
    x=[]
    for i, row in books.iterrows():
        x +=  [(rating_dist(ratings.iloc[bkind],ratings.iloc[i]), i)]
    x.sort()
    for i in x[1:(hmany+1)]:
        print(books.iloc[(i[1])]['title'])
        
nearest(114, 4)

The story of pirate Monica
The adventures of cowboy Shannon
The unbelievable Lizard-Woman
The awesome Spider-Person